
@using fipha
<div class="menu">

    @if (Model.CurrentPage == LcdPage.HomeMenu)
    {
        <table class="menu">
            <tbody>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LcdTab.NowPlayingMenu ? "menucursor" : "")">PLAYING &#x25b6;</div></td>
                </tr>
                <tr>
                    <td><div class="navigation @(Model.Cursor == LcdTab.SensorMenu ? "menucursor" : "")">SENSORS &#x25b6;</div></td>
                </tr>
                <tr>
                    <td><div class="disabled">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="disabled">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="disabled">&nbsp;</div></td>
                </tr>
                <tr>
                    <td><div class="disabled">&nbsp;</div></td>
                </tr>

            </tbody>
        </table>
    }
    else if (Model.CurrentPage == LcdPage.NowPlayingMenu)
    {
        <table class="menu">
            <tbody>
            <tr>
                <td><div class="navigation @(Model.Cursor == LcdTab.NowPlayingBack ? "menucursor" : "")">&#x25c0; BACK</div></td>
            </tr>
            @for (var index = 0; index < 5; index++)
            {
                if (index < App.NowPlayingPages.Count)
                {
                    var nowPlayingPage = App.NowPlayingPages[index];

                    <tr>
                        <td>
                            <div class="@(Model.CurrentTab == LcdTab.NowPlayingPage1+index ? "highlight" : "") @(Model.Cursor == LcdTab.NowPlayingPage1+index ? "menucursor" : "")">@nowPlayingPage.MenuName</div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><div class="disabled">&nbsp;</div></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
    else if (Model.CurrentPage == LcdPage.SensorMenu)
    {
        <table class="menu">
            <tbody>
            <tr>
                <td><div class="navigation @(Model.Cursor == LcdTab.SensorBack ? "menucursor" : "")">&#x25c0; BACK</div></td>
            </tr>
            @for (var index = 0; index < 5; index++)
            {
                if (index < App.SensorPages.Count)
                {
                    var sensorPage = App.SensorPages[index];

                    <tr>
                        <td>
                            <div class="@(Model.CurrentTab == LcdTab.SensorPage1+index ? "highlight" : "") @(Model.Cursor == LcdTab.SensorPage1+index ? "menucursor" : "")">@sensorPage.MenuName</div>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td><div class="disabled">&nbsp;</div></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
</div>
